.homeAppScreen{
    background-image: url(/src/assets/img/Untitled\ design_20240920_135452_0000.png);
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20px;
    background-position: center;

}
.homeAppScreen h5{
    font-family: Inter;
    font-weight: 600;
    font-size: 36px;
    text-align: center;
    line-height: 43.57px;
    color: #ffff;
    margin-bottom: 10px;
}
.userDetails{
    padding-left: 15px;
    padding-right: 15px;
}
.nameAndProfileImg img{
    width: 34px;
    height: 34px;
    border: 1px solid #F5F5F5;
    border-radius: 100px;
}
.nameAndProfileImg span{
    font-family: inter;
    font-weight: 700;
    color: #F5F5F5;
    font-size: 22px;
    line-height: 24.2px;
    height: 26px;
}
.ambassadorAndXpReward{
    justify-content: space-between;
}
.ambassador h4{
    color: #F5F5F5;
    font-size: 16px;
    font-family: inter;
    line-height: 14.52px;
    font-weight: 500;
    margin-bottom: 10px;
}
.ambassador hr{
    height: 10px;
    border-radius: 12px;
    width: 60%;
    background: linear-gradient( #4979D1 100%, #4979D1 100%, #B5CFFE 100%);
}
.reward h4{
    color: #F5F5F5;
    font-size: 16px;
    font-family: inter;
    line-height: 14.52px;
    font-weight: 500;
    margin-bottom: 5px;
}
.reward h5{
    color: #F5F5F5;
    font-size: 17px;
    font-family: inter;
    line-height: 16.94px;
    font-weight: 600;
    border: 1px solid #F5F5F5;
    border-radius: 25px;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
.horizontalLine{
    width: 130px;
    background: #1D222E;
    border: 1px solid #7585A7;
    border-radius: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
}

/* .start-the-rush svg path,
.power-up svg path,
.daily-challenge svg path,
.invite-and-earn svg path,
.achivement-and-badge svg path{
 
    stroke: #E6ECF9;
} */
.start-the-rush svg ,
.power-up svg ,
.daily-challenge svg ,
.invite-and-earn svg ,
.achivement-and-badge svg {
 
    
    margin: 0 auto;
  
} 

.bottom-actionBtn h5{
    font-weight: 500;
    font-size: 10px;
    font-family: inter;
    line-height: 12.91px;
    text-align: center;
    color: #4979D1;
    margin-top: 5px;
}
.bottom-actionBtn{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  padding-left: 4px;
  padding-right: 4px;
  bottom: 0;
  position: fixed;
  /* margin-top: auto; */
  

}
.box {
    flex: 1; 
    padding: 5px;
    text-align: center;
    box-sizing: border-box;
   
  }
.container .box:first-child {
    margin-left: 0;
}
  
.container .box:last-child {
    margin-right: 0;
}
.start-the-rush ,
.power-up,
.daily-challenge,
.invite-and-earn,
.achivement-and-badge{
    border-radius: 5px;
   height: 78px;
   align-items: center;
   text-align: center;
   border: 0.7px solid gray;
   backdrop-filter: blur(3.2px);
    -webkit-backdrop-filter: blur(3.2px);
    background: #1F2024;
   
}
.top-task{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    padding-left: 4px;
    padding-right: 4px;
  }
  .top-task h5{
    font-weight: 500;
    font-size: 12px;
    font-family: inter;
    line-height: 15.91px;
    text-align: center;
    color: #ffff;
    margin-top: 5px;
}
.top-task h6{
    font-weight: 500;
    font-size: 9.3px;
    font-family: inter;
    line-height: 11.3px;
    text-align: center;
    color: #7585A7;
    margin-top: 5px;
}
.daily-reward ,
.upgrade-and-rush,
.softnote-community,
.mini-games{
    border-radius: 5px;
   height: 125px;
   align-items: center;
   padding-top: 10px;
   text-align: center;
   border: 0.7px solid gray;
   background: rgba(255, 255, 255, 0.065); /* Light transparent background */
   backdrop-filter: blur(0.1px); /* Blur background for glass effect */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow */
   
   
}
.daily-reward svg ,
.upgrade-and-rush svg,
.softnote-community svg,
.mini-games svg{
margin: 0 auto;
   
   
}