.homeAppScreen{
    background-image: url(/src/assets/img/Untitled\ design_20240920_135452_0000.png);
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 25px;
    background-position: center;
}
.homeAppScreen h5{
    font-family: Inter;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 43.57px;
    color: #ffff;
    margin-bottom: 10px;
}
.nameAndProfileImg img{
    width: 32px;
    height: 32px;
    border: 1px solid #F5F5F5;
    border-radius: 100px;
}
.nameAndProfileImg p{
    font-family: inter;
    font-weight: 700;
    color: #F5F5F5;
    font-size: 20px;
    line-height: 24.2px;
    width: 155px;
    height: 24px;
}