.homeAppScreen{
    background-image: url(/src/assets/img/Untitled\ design_20240920_135452_0000.png);
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 25px;
    background-position: center;
}
.homeAppScreen p{
    text-align: left;
    font-family: inter;
    font-weight: 700;
    color: #F5F5F5;
    line-height: 24.2px;
    font-size: 20px;
}