.loadingScreen{
    background-image: url(/src/assets/img/Untitled\ design_20240920_135452_0000.png);
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 20px;
    background-position: center;
}
.loadingScreen h5{
    font-family: Inter;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 43.57px;
    color: #ffff;
}
.loadingScreen h4{
    /* font-family: Inter; */
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    line-height: 21.78px;
    color: #4979D1;
}
.loadingScreen img {
    height: 300px;
    bottom: 0;
    position: fixed;
    text-align: center;
}